.main {
    margin-bottom: 5em;
    min-height: 50vh;

    .article-wrapper {
        display: flex;
        justify-content: flex-end;
        padding-top: 50px;
        min-height: 90px;
        position: relative;

        // Move the left circle all the way down to the end of the article-wrapper
        &.single {
            padding-bottom: 2.5em;
        }
    }
}
